{% extends 'ForoApp/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="centro BodyColorLetras">Nuevo Post</h1>
<form method="post" class="centro post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type='submit' class="boton save btn">GUARDAR</button>
</form>
{% else%}
    <br>
    <br>
    <br>
    <h3 class="BodyColorLetras centro">Tienes que iniciar sesión para publicar</h3>
    {% for user in mostrarnombres %}
      <h1>{{user.username}}</h1>
    {% endfor %}
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br>
{% endif%}
{% endblock %}
