<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <nav class="centro BodyColorLetras">
            <a href="inicio.html"><img class="logo" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\logofall.png" width="300"> </a>
            <br>
        </nav>
        <div class="centro BodyColorLetras Contenedorh">
            <ul class="opc-nav">
                <li class="nav-item"> <a href="trucasos.html">TRUCAZOS</a></li>
                <li class="nav-item"> <a href="foro.html">FORO</a></li> 
                <li class="nav-item"> <a href="top-jugadores.html">TOP JUGADORES</a></li>  
                <li class="nav-item"> <a href="registrarse.html">REGISTRARSE</a></li>  
                <li class="nav-item"> <a href="iniciasesion.html">INICIAR SESION</a></li>  
            </ul>
        </div>
    </header>

    <body>
        <div class="tamaño">
            
                <a class="titulonoti centro"> FORO </a>
                <br>
                
                 <div class="conte centro">
                    <a class="MiniMBCL">-----------------------------------------------------------------</a>
                     <div class="bloque3">
                    <a class="MiniBCL">Error al iniciar el juego</a>
                    <br>
                    <a class="MiniBCL">Hola, tengo un problema al iniciar el juego</a>
                    
                </div>
                <div class="bloque3">
                    <a class="MiniBCL">#1129</a>
                    <br>
                    <a class="MiniBCL">14/09/2020</a>
                </div>
                <a class="MiniMBCL">-----------------------------------------------------------------</a>
                <div class="bloque3"> 
                    <a class="MiniBCL">Equipo para jugar</a>
                    <br>
                    <a class="MiniBCL">Hola, busco jugadores :D</a>
                </div>
                <div class="bloque3">
                    <a class="MiniBCL">#1313</a>
                    <br>
                    <a class="MiniBCL">14/09/2020</a>
                </div>
                <a class="MiniMBCL">-----------------------------------------------------------------</a>
                <div class="bloque3">
                    <a class="MiniBCL">Chat de Discord</a>
                    <br>
                    <a class="MiniBCL">Hola, busco integrantes de discord :D</a>
                </div>
                <div class="bloque3">
                    <a class="MiniBCL">#1333</a>    
                    <br>
                    <a class="MiniBCL">14/09/2020</a>
                </div>
                <a class="MiniMBCL">-----------------------------------------------------------------</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="footer">
                <div class="footerizquierda">
                    <a>Todos los derechos reservados ©.</a>
                </div>
                <div class="footerderecha">
                    <a href="http://www.instagram.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\instagram.png" width="25"> </a>
                    <a href="http://www.facebook.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\facebook.png" width="25"> </a>
                    <a href="http://www.twitter.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\twitter.png" width="25"> </a>
                </div>
            </div>
        </div>
    </body>
</html>