{% extends 'ForoApp/base.html' %}
{% block content %}
        <div class="centro tamaño">
            <a class="titulonoti">INICIAR SESION</a>
            <br>
            <div class="nombreletras">
                <form id="registro" class="conte nombreletras" action="#">
                    <div class="bloque">
                        <label for="nombrecuenta">Nombre de cuenta</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="text" required minlength="6" maxlength="20"  name="nombrecuenta" placeholder="Ingrese nombre de cuenta">
                    </div>
                    <div class="bloque">
                        <label for="contraseña">Contraseña</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="password" required minlength="8" id="contraseña" name="contraseña" placeholder="Ingrese contraseña">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="centro boton" type="submit">INICIAR SESIÓN</button>
                </form>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% endblock %}
