
<!--
<div class="tamaño">

        <a class="titulonoti centro"> FORO </a>
        <br>

         <div class="conte centro">
            <a class="MiniMBCL">-----------------------------------------------------------------</a>
             <div class="bloque3">
            <a class="MiniBCL">Error al iniciar el juego</a>
            <br>
            <a class="MiniBCL">Hola, tengo un problema al iniciar el juego</a>

        </div>
        <div class="bloque3">
            <a class="MiniBCL">#1129</a>
            <br>
            <a class="MiniBCL">14/09/2020</a>
        </div>
        <a class="MiniMBCL">-----------------------------------------------------------------</a>
        <div class="bloque3">
            <a class="MiniBCL">Equipo para jugar</a>
            <br>
            <a class="MiniBCL">Hola, busco jugadores :D</a>
        </div>
        <div class="bloque3">
            <a class="MiniBCL">#1313</a>
            <br>
            <a class="MiniBCL">14/09/2020</a>
        </div>
        <a class="MiniMBCL">-----------------------------------------------------------------</a>
        <div class="bloque3">
            <a class="MiniBCL">Chat de Discord</a>
            <br>
            <a class="MiniBCL">Hola, busco integrantes de discord :D</a>
        </div>
        <div class="bloque3">
            <a class="MiniBCL">#1333</a>
            <br>
            <a class="MiniBCL">14/09/2020</a>
        </div>
        <a class="MiniMBCL">-----------------------------------------------------------------</a>
    </div>
-->
