<!--<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    </head>

    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/jquery.js"></script>
        <nav class="centro BodyColorLetras">
            <a href="inicio.html"><img class="logo" src="C:\Users\lazar\Desktop\Mis perris Mobileb\img\logofall.png" width="300"> </a>
            <br>
        </nav>
        <div class="centro BodyColorLetras Contenedorh">
            <ul class="opc-nav">
                <li class="nav-item"> <a href="trucasos.html">TRUCAZOS</a></li>
                <li class="nav-item"> <a href="foro.html">FORO</a></li>
                <li class="nav-item"> <a href="top-jugadores.html">TOP JUGADORES</a></li>
                <li class="nav-item"> <a href="registrarse.html">REGISTRARSE</a></li>
                <li class="nav-item"> <a href="iniciasesion.html">INICIAR SESION</a></li>
            </ul>
        </div>
    </header>
-->

{% extends 'ForoApp/base.html' %}
{% block content %}
<div class="tamaño">
    <a class="titulonoti centro"> REGISTRARSE </a>
      <div class="conte">
        <form method="POST" class="conte centro ">
          <div class="bloque centro">
              {{form.as_p}}
                <input class="boton" type = 'submit' value="REGISTRARSE" />
          </div>
        </form>

      </div>
</div>
{% endblock %}
<!--
        <div class="centro tamaño ">
            <a class="titulonoti"> REGISTRARSE </a>

            <br>
            <br>
            <div class="conte nombreletras">
                <form id="registro" class="conte nombreletras" action="#">
                    <div class="bloque">
                        <label for="nombrecuenta">Nombre de cuenta</label>
                    </div>
                    <div saclass="bloque">
                        <input class="centro textareaapodo" type="text" required minlength="6" maxlength="20"  name="nombrecuenta" placeholder="Ingrese nombre de cuenta">
                    </div>
                    <div class="bloque">
                        <label for="codigo">Código FallGuy</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="text"  required minlength="4" maxlength="4" pattern="[0001-9999]+" name="codigo" placeholder="Ingrese código FallGuy">
                    </div>
                    <div class="bloque">
                        <label for="email">Email</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="text" name="email" required placeholder="ejemplo@ejemplo.com">
                    </div>
                    <div class="bloque">
                        <label for="contraseña">Contraseña</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="password" required minlength="8" id="contraseña" name="contraseña" placeholder="Ingrese contraseña">
                    </div>

                    <div class="bloque">
                        <label for="ccontraseña">Confirmar contraseña</label>
                    </div>
                    <div class="bloque">
                        <input class="centro textareaapodo" type="password" required minlength="8" name="ccontraseña" placeholder="Confirme contraseña">
                    </div>
                    <br>
                    <br>
                    <button class="centro boton" type="submit">REGISTRARSE</button>
                </form>
            </div>
          -->
