<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <nav class="centro BodyColorLetras">
            <a href="inicio.html"><img class="logo" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\logofall.png" width="300"> </a>
            <br>
        </nav>
        <div class="centro BodyColorLetras Contenedorh">
            <ul class="opc-nav">
                <li class="nav-item"> <a href="trucasos.html">TRUCAZOS</a></li>
                <li class="nav-item"> <a href="foro.html">FORO</a></li>
                <li class="nav-item"> <a href="top-jugadores.html">TOP JUGADORES</a></li>
                <li class="nav-item"> <a href="registrarse.html">REGISTRARSE</a></li>
                <li class="nav-item"> <a href="iniciasesion.html">INICIAR SESION</a></li>
            </ul>
        </div>
    </header>

    <body>
        <div class="centro tamaño">
            <a class="titulonoti"> TOP JUGADORES </a>
        </div>
        <br>
            <div class="conte border">


                <div class="bloque2  nombre nombreletras">
                    FallGuy#1313
                </div>

                <div class="bloque2 nombreletras">
                    81
                    <img class="centro" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\corona.png" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1233
                </div>
                <div class="bloque2 nombreletras">
                    79
                    <img class="centro" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\corona.png" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1237
                </div>
                <div class="bloque2 nombreletras">
                    75
                    <img class="centro" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\corona.png" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1678
                </div>
                <div class="bloque2 nombreletras">
                    71
                    <img class="centro" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\corona.png" width="50">
                </div>
                <div class="bloque2  nombreletras">
                    FallGuy#1964
                </div>
                <div class="bloque2 nombreletras">
                    71
                    <img class="centro" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\corona.png" width="50">
                </div>

            </div>

                <div class="footer">
                <div class="footerizquierda">
                    <a>Todos los derechos reservados ©.</a>
                </div>
                <div class="footerderecha">
                    <a href="http://www.instagram.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\instagram.png" width="25"> </a>
                    <a href="http://www.facebook.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\facebook.png" width="25"> </a>
                    <a href="http://www.twitter.com"><img class="derecha" src="C:\Users\lazar\Desktop\Mis perris Mobile\img\twitter.png" width="25"> </a>
                </div>
                </div>



    </body>
    <footer>

    </footer>

</html>
