{% extends 'ForoApp/base.html' %}
{% block content %}
{% load static %}
        <div class="centro tamaño">
            <a class="titulonoti"> TOP JUGADORES </a>
        </div>
        <br>
            <div class="conte border">


                <div class="bloque2  nombre nombreletras">
                    FallGuy#1313
                </div>

                <div class="bloque2 nombreletras">
                    81
                    <img class="centro" src="{% static 'img\corona.png' %}" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1233
                </div>
                <div class="bloque2 nombreletras">
                    79
                    <img class="centro" src="{% static 'img\corona.png' %}" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1237
                </div>
                <div class="bloque2 nombreletras">
                    75
                    <img class="centro" src="{% static 'img\corona.png' %}" width="50">
                </div>
                <div class="bloque2 nombre nombreletras">
                    FallGuy#1678
                </div>
                <div class="bloque2 nombreletras">
                    71
                    <img class="centro" src="{% static 'img\corona.png' %}" width="50">
                </div>
                <div class="bloque2  nombreletras">
                    FallGuy#1964
                </div>
                <div class="bloque2 nombreletras">
                    71
                    <img class="centro" src="{% static 'img\corona.png' %}" width="50">
                </div>
{% endblock %}
