<!--<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <nav class="centro BodyColorLetras">
            <a href="inicio.html"><img class="logo" src="{% static 'img\logofall.png" width="300"> </a>
            <br>
        </nav>
        <div class="centro BodyColorLetras Contenedorh">
            <ul class="opc-nav">
                <li class="nav-item"> <a href="trucasos.html">TRUCAZOS</a></li>
                <li class="nav-item"> <a href="foro.html">FORO</a></li>
                <li class="nav-item"> <a href="top-jugadores.html">TOP JUGADORES</a></li>
                <li class="nav-item"> <a href="registrarse.html">REGISTRARSE</a></li>
                <li class="nav-item"> <a href="iniciasesion.html">INICIAR SESION</a></li>
            </ul>
        </div>
    </header>
-->

{% extends 'ForoApp/base.html' %}
{% block content %}
{% load static %}


<div class="centro tamaño">
    <a class="titulonoti"> TRUCAZOS </a>
    <div class="conte nombreletras">
      {% for truco in trucasos %}
      <div class="bloque4 border">
        <br>
        

          <img class="centro bordefoto zoom fotomar" src="{{truco.imagen_truco.url}}" width="300"> </a>
          <br>
          <details>
              <summary>
                  <a class="BodyColorLetras">{{truco.mapa}}</a>
              </summary>
              <a class="BodyColorLetras">
                  {{truco.desc_truco}}
          </details>
      </div>
  {% endfor %}
<!--
        <div class="centro tamaño">
            <a class="titulonoti"> TRUCAZOS </a>
            <div class="conte nombreletras">

                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Dizzy Heights.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Dizzy Heights</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Puede parecer obvio, pero en las plataformas giratorias, siempre debes ir con el flujo de la plataforma. Incluso si hay una ruta más corta que va en contra de la rotación, casi siempre es más rápido simplemente girar, correr con la rotación para llegar a donde necesitas.
                            <br>
                            Quédate a la izquierda en Fruit Chute para mantener esos plátanos fuera de su cara.</a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Hit Parade.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Hit Parade</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Sugerimos dirigirte al conjunto izquierdo de torniquetes y empujar hacia la derecha de ellos para que giren en sentido antihorario. Además, cuando llegues a las bolas de demolición, mantente completamente centrado en el camino y cronometra tus carreras con cuidado. Finalmente, manténte en el extremo izquierdo o derecho cuando suba la colina de limo, ya que los obstáculos no pueden llevarlo allí.</a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\See Saw.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">See Saw</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Ayuda si estás en el frente, ya que los balancines estarán en su mayoría estáticos cuando llegues a ellos, pero recuerda tratar de mantenerte centrado en cada uno de ellos (cerca de la línea blanca) si es posible, y siempre corre y salta. a las plataformas estáticas cuando la sierra está en su punto más alto; de lo contrario, puede fallar y caer.</a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Door Dash.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Door Dash</a>
                        </summary>
                        <a class="BodyColorLetras">
                            El mejor consejo aquí, por lo tanto, es evitar correr a ciegas a las puertas y esperar unos segundos para permitir que otros tontos desventurados encuentren el camino correcto a seguir. Además, no salte por las puertas, en su lugar, bucee. </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Gate Crash.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras ">Gate Crash</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Nuevamente, es una carrera hasta el final, pero debes asegurarte de no quedarte atrapado detrás de las puertas por mucho tiempo. También vale la pena señalar que algunas puertas se mueven más lentamente que otras, así que manténgase alejado de ellas. </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Tip Toe.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Tip Toe</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Tip Toe es simplemente un dolor en la parte posterior. Solo hay un camino verdadero a través de los mosaicos frente a usted, pero inicialmente no sabe cuál es. El resto de las baldosas desaparecen bajo los pies cuando las pisas. Básicamente, deje que otros cometan esos errores, pero trate de mantenerse lo más cerca posible del grupo líder para que pueda continuar por el camino correcto</a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\The Whirlygig.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">The Whirlygig</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Esto es especialmente complicado para los nuevos jugadores. Además de las barras giratorias sobre las que debe saltar, hay una pared obligatoria a mitad de camino en el nivel. Es posible saltar sobre uno de un par de bloques amarillos y luego nuevamente sobre la plataforma elevada, pero sugerimos usar la mecánica de "agarrar" para subir</a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Slime Climb.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Slime Climb</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Algunas tácticas son usar los parachoques al principio como plataformas y el botón "agarrar" para subir a la segunda sección de ascenso para acelerar las cosas.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Fruit Chute.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Fruit Chute</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Simplemente evite la fruta gigante que cae en cascada por la montaña. Nuestro consejo es mantenernos bastante centrados y saltar sobre el tronco rodante cuando sea necesario; eso parece habernos funcionado con mayor frecuencia.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Jump Club.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Jump Club</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Muchos corren como locos en este nivel, con un efecto divertidísimo. Sin embargo, el mejor consejo es quedarse exactamente donde está y simplemente saltar sobre la barra más rápida cuando sea necesario. La mayoría de las veces, calificará.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Roll Out.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Roll Out</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Nuestro mejor consejo es seguir moviéndose entre los dos segmentos en los bordes más alejados, ya sea a la izquierda o a la derecha.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Block Party.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Block Party</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Tendemos a encontrar que es mejor permanecer en el centro, moverse según sea necesario y luego regresar a la posición central, ya que puede ir tan fácilmente hacia la izquierda y hacia la derecha como sea necesario. Sin embargo, hay que advertir que algunas formaciones de bloques solo se pueden evitar saltando o buceando por debajo de ellas.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Perfect Match.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Perfect Match</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Solo asegúrate de estar parado en el mosaico correcto cuando se acabe el tiempo. Se agregan más frutas en cada ronda, pero encontramos que pararse en una parada y observar primero es mucho mejor que correr como un loco.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Tail Tag.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Tail Tag</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Es un juego libre para todos al azar.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Egg Scramble.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Egg Scramble</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Después de la carrera inicial para agarrar un huevo y almacenarlo en su respectiva casa, algunos compañeros de equipo, si no todos, probablemente se dirijan a "nidos" rivales para robar huevos. Por lo tanto, encontramos que vale la pena pasar el rato por nuestra cuenta, agarrando a los posibles ladrones de huevos de otros equipos.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Rock ‘N’ Roll.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Rock ‘N’ Roll</a>
                        </summary>
                        <a class="BodyColorLetras">
                            intente empujar la pelota hacia la izquierda o hacia la derecha al principio, moviéndose más hacia el centro después de los primeros obstáculos; y no, hagas lo que hagas, dejes a tu equipo y vayas al fondo para intentar detener la pelota de los otros equipos. Más empujadores significan que la pelota corre más rápido, mientras que nunca hemos visto a un bloqueador detener con éxito la pelota de un oponente.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Fall Ball.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Fall Ball</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Si alguien de tu equipo aún no lo ha hecho, considera ser el portero y pararte justo afuera de tu red, listo para cabecear los balones cuando se acerquen (saltando justo cuando se acerquen a ti). Alternativamente, quédese en el círculo central, pero solo en su propio medio toque para que las bolas que aparecen arriba se disparen hacia el extremo rival cuando golpeen su cabeza.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Team Tail Tag.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Team Tail Tag</a>
                        </summary>
                        <a class="BodyColorLetras">
                            También es un juego al azar
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Jinxed.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Jinxed</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Si tienes el acecho, tienes que intentar tocar a tantos rivales como puedas. Gana el equipo que tiene un miembro "libre" en pie. Generalmente es caos y aleatorio, encontramos.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Hoopsie Daisy.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Hoopsie Daisy</a>
                        </summary>
                        <a class="BodyColorLetras">
                            El equipo que más salta progresa. Nuestra táctica en este caso es permanecer prácticamente en la misma zona pequeña, ya que los aros reaparecen con regularidad. Si corres en busca de aros, es probable que alguien llegue primero.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Hoarders.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Hoarders</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Esta vez debes asegurarte de que haya más bolas en tu zona cuando se acabe el tiempo (o, al menos, no tengas la menor cantidad). Por lo que sabemos, este es un juego de todos y nos ha costado encontrar tácticas que lo hagan más que aleatorio.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Fall Mountain.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Fall Mountain</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Trata de ir por las orillas, ahí no suelen golpearte las pelotas.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Hex-A-Gone.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Hex-A-Gone</a>
                        </summary>
                        <a class="BodyColorLetras">
                            Nuestro consejo aquí es asegurarse de correr alrededor de cada capa un par de hexágonos dentro del perímetro. preparándose para saltar al grupo más cercano a medida que se acerca a los huecos. No corras por el exterior, ya que a veces puedes caer un par de más tarde a la vez. Y, si puedes, salta desde el hexágono en el que comienzas a otro cercano, ya que gasta unos valiosos segundos.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Royal Rumble.png' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Royal Rumble</a>
                        </summary>
                        <a class="BodyColorLetras">
                            No hay dónde esconderse, por lo que no hay mucha estrategia, para ser honesto. Simplemente pura suerte.
                        </a>
                    </details>
                </div>
                <div class="bloque4 border">
                    <img class="centro bordefoto zoom fotomar" src="{% static 'img\Jump Showdown.jpg' %}" width="300"> </a>
                    <br>
                    <details>
                        <summary>
                            <a class="BodyColorLetras">Jump Showdown</a>
                        </summary>
                        <a class="BodyColorLetras">Solo salta, cuando quedeis 2 abraza al contrincante y sueltalo... probablemente se caera de los nervios.</a>
                    </details>
                </div>
            </div>
          -->
{% endblock %}
