{% extends 'ForoApp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h2 class="BodyColorLetras centro">Contraseña establecida correctamente.</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="centro"><a class="BodyColorLetras" href="{% url 'login' %}">Iniciar sesión</a></h3>
</body>
</html>
{% endblock %}