{% extends 'ForoApp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2 class="titulonoti centro">RECUPERAR CONTRASEÑA</h2>
    <form class="centro">
        {% csrf_token %}
        <h3><label class="BodyColorLetras " for="id_email">Correo</label></h3>
        {{ form.email }}
        <br>
        <input class="boton" type="submit" value="Recuperar"/>

    </form>
</body>
</html>
{% endblock %}