{% extends 'ForoApp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body centro">
                        <h2 class="titulonoti">Ingresa tus datos</h2>
                        <hr>
                        <form class="centro" action="" method="post">

                            {% csrf_token %}
                            <div class="centro bloque">
                                <h4><label class="centro BodyColorLetras" for="nombrecuenta">Usuario</label></h4>
                                {{ form.username }}
                              </div>
                            <div class="centro bloque">
                              <h4><label class="centro BodyColorLetras" for="contraseña">Contraseña</label></h4>
                              {{ form.password }}
                              <br>
                              <h5 class="centro"><a class="BodyColorLetras" href="{% url 'password_reset_form' %}">Se me olvido la contraseña</a></h5>
                            </div>
                            <hr>

                            <h2><input class="boton centro" type="submit" value="INGRESAR"></h2>

                        </form>
                        <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
