{% extends 'ForoApp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body centro">
                        <h2 class="titulonoti">REGISTRARSE</h2>
                        <hr>
                        <form class="conte" action="" method="post">

                            {% csrf_token %}
                            <div class="bloque">
                              <label for="nombrecuenta">Usuario : </label>
                              {{ form.username }}
                            </div>
                            <div class="bloque">
                              <label for="contraseña">Nombre : </label>
                              {{ form.first_name }}
                            </div>
                            <div class="bloque">
                              <label for="contraseña">Apellidos : </label>
                              {{ form.last_name }}
                            </div>
                            <div class="bloque">
                              <label for="contraseña">Correo : </label>
                              {{ form.email }}
                            </div>
                            <div class="bloque">
                              <label for="contraseña">Contraseña : </label>
                              {{ form.password1 }}
                            </div>
                            <div class="bloque">
                              <label for="contraseña">Confirmar contraseña : </label>
                              {{ form.password2}}
                            </div>







                            <h2><input class="boton" type = 'submit' value="REGISTRARSE" /></h2>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
